body{
    font-family: Arial,sans-serif;
}
nav{
    width: 1920px;
    height: 60px;
    background: #344051;
    position:fixed;
}
.logo{
    color:#fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float:left;
    -webkit-animation: comming 2s forwards;
    -o-animation:comming 2s forwards;
    animation:comming 2s forwards;
    opacity: 0;
}
.menu{
    float:left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height:60px;
    color: #fff;
    margin-right:40px;
    font-size: 18px;
    text-transform:uppercase;
    -webkit-animation: menu 0.5s forwards ease;
    -o-animation: menu 0.5s forwards ease;
    animation:menu 0.5s forwards ease;
    opacity: 0;
    
} 
.main{
    width: 1920px;
    height:1067px ;
    background:url(../img/boy2.png)100% 100% no-repeat,url(../img/pg.jpg);
   
}
.title_container{
    float:left;
    margin:432px 0px 0px 404px;
    color:#2c384a;
    text-align: center;
     -webkit-animation: title 2s forwards;
    -o-animation:title 2s forwards;
    animation:title 2s forwards;
    opacity: 0;
    animation-delay: 1s;
}
.title_container h1{
    font-size: 80px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 32px;
    font-size: 28px;
    color:#79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border:2px  solid #6d7682;
    background: none;
    border-radius: 6px;
    color:#6d7682;
    font-size:16px;
    padding: 0px 16px;
    margin:50px 14px 0px 14px;
}
.about_my{
    width:1920px;
    height:730px;
    background: url(../img/av.jpg)882px 226px no-repeat,url(../img/chert.jpg)941px 160px no-repeat,url(../img/pg2.jpg);
}
.about_my h2{
    font-size:35px;
    padding-left:894px;
    padding-top:107px;
    font-weight: bold;
    color:#263244;
}
.text{
    width:750px; 
    font-size:18px;
    margin-top:317px;
    margin-left: 592px;
    color:#3f495a;
    }
.text p{
    margin-top:42px;
}
.text input{
    float:left;
    height:38px;
    text-align: center;
    border:3px solid #6f707e;
    background: none;
    border-radius:8px;
    color:#6f707e;
    font-size:18px;
    padding: 3px 11px 3px 32px ;
    margin-top:32px;
    margin-left: 305px;
    background:url(../img/str.jpg)12px 8px no-repeat;
}
.skills{
    height:523px;
    width:1920px;
    background:
        url(../img/nout.png)no-repeat 460px 278px,
        url(../img/znak.png)no-repeat 790px 278px,
        url(../img/rak.png)no-repeat 1120px 275px,
        url(../img/grom.png)no-repeat 1445px 276px,
        url(../img/chert.jpg)no-repeat 950px 152px,
        url(../img/pg3.jpg) fixed 8px 0px;
}
.skills h2{
    font-size:35px; 
    font-weight: bold;
    color:#384354;
    padding-top:100px;
    padding-left:875px;
    letter-spacing:0px;
}
.var{
    margin-left:360px;
    margin-top:210px;
}
.skills li{
    float:left;
    margin-right:78px;
}
.var h4{
    font-size:22px;
    text-align: center;
    color:#f37728;
    font-weight: bold;
}
.var p{
    margin-top:8px;
    width: 250px;
    text-align: center;
    font-size: 17px;
    color:#3f495a;
}
.keys{
    height:1242px;
    width:1980px;
    background: url(../img/chert.jpg)no-repeat 966px 54px,url(../img/screen.jpg) no-repeat 420px 187px ;
}
.keys h2{
    font-size:35px; 
    font-weight: bold;
    color:#384354;
    margin-top: 105px;
    margin-left:940px;
}
.kkeys{
    width:auto;
    height:20px;
    margin-top:95px;
    margin-left:520px ;
    color:#525a68;
    font-size:17px;
    font-weight:600;
}
.opis{
    color:#384354; 
}
.clwb{
    float: left;
    height: 130px;
    width: 260px;
    margin-left:430px;
}
.clwb h4{
    font-size: 21px;
    font-weight: 600;
}
.clwb p{
    padding-top:7px;
    padding-bottom: 9px;
}
.nazv{
    height: 130px;
    width: 890px;
    margin-left: 690px;
    margin-top:660px;
}
.nazv h3{ 
    font-size:21px;
    font-weight: bold;  
}
.nazv p{
    font-size:18px;
    text-align:left;
    width:854px;
    line-height:normal;
}
.keys input{
    margin-left:430px;
    text-align: center;
    background:#63b5ae;
    color:white;
    height:45px;
    width:200px;
    font-size:20px;
    border-radius:6px;
    font-weight: 500;
    transition: all 0.1s;
    transform:scale(1);
}
.price{
    height:770px;
    width:1920px;
    background:url(../img/lin.jpg)500px 500px no-repeat;
} 
.price h2{
    color:#1c2534;
    font-size:40px;
    font-weight: bold;
    margin-left:800px;
}
.tip h4{
    color:#1c2534;
    font-size:25px;
    margin-left:500px;
    margin-top:48px;
    font-weight: bold;
}
.tip select{
    width:895px;
    height:56px;
    background: #eeeeee;
    margin-left:500px;
    margin-top:10px;
}
.diz h4{
    color:#1c2534;
    font-size:25px;
    margin-left:500px;
    margin-top:48px;
    font-weight: bold;
}
.diz select{
    width:895px;
    height:56px;
    background: #eeeeee;
    margin-left:500px;
    margin-top:10px;
}
.adapt h4{
    color:#1c2534;
    font-size:25px;
    margin-left:500px;
    margin-top:48px;
    font-weight: bold;
}
.adapt select{
    width:895px;
    height:56px;
    background: #eeeeee;
    margin-left:500px;
    margin-top:10px;
}
.rez p{
    color:#1c2534;
    font-size:18px;
    font-weight: bold;
    margin-top:22px;
}
.rez{
    margin-left:500px;
    margin-top:60px;
}
.statistic{
    background: url(../img/chert.jpg)940px 158px no-repeat,
        url(../img/smile.png)no-repeat 495px 245px,
        url(../img/skobk.png)no-repeat 788px 250px,
        url(../img/gal.png)no-repeat 1090px 250px,
        url(../img/kubok.png)no-repeat 1393px 245px,
        url(../img/pg4.jpg) fixed no-repeat ;
    height:499px;
    width: 1920px;
}
.statistic h2{
    font-size:35px; 
    font-weight: bold;
    color:#384354;
    padding-top:100px;
    padding-left:780px;
}
.statistic li{
    float:left;
    margin-right:150px;
}
.statmenu{
    margin-left:433px;
    margin-top:190px;
    font-weight: 700;
    color:#323e4f;
}
.statmenu h3{
    font-size:30px;
    font-weight:800;
    text-align: center;
    padding-bottom: 27px;
}
.otz{
    width: 1920px;
    height:594px;
    background:url(../img/chert.jpg)no-repeat 940px 163px,
        url(../img/point_orange.png)no-repeat 951px 497px ,
        url(../img/point.png)no-repeat 976px 497px ,
        url(../img/point.png)no-repeat 1001px 497px ,
        url(../img/klient.png)no-repeat 930px 228px;
}
.otz h2{
    font-size:35px;
    padding-left:898px;
    padding-top:107px;
    font-weight: bold;
    color:#263244;
}
.otz p{
    text-align: center;
    margin-top:233px;
    color::#263244;
    font-weight:600;
}
.kont{
    background: url(../img/chert.jpg)925px  158px no-repeat, 
        url(../img/geo.png)no-repeat 708px 256px,
        url(../img/konvert.png)no-repeat 945px 256px,
        url(../img/telefon.png)no-repeat 1192px 256px,
        url(../img/pg6.jpg);
    height: 808px;
    width: 1920px;
    color:white;
}
.kont h2{
    font-size:35px;
    font-weight:bold;
    padding-top:105px;
    padding-left: 818px;
}
.kont p{
    margin-top:46px;
    text-align: center;
}
.dann li{
    float:left;
    margin-right: 90px;
    width: 160px;
    text-align: center;
}
.dann ul{
    margin-top: 89px;
    margin-left:629px;
}
.message h3{
    font-size:22px;
    margin-top: 150px;
    text-align: center;
    width: 300px;
    margin-left: 830px;
}
.nt input{
    height: 34px;
    width: 352px;
    background: #d8dbe1;
    margin-left: 23px;
    margin-top: 40px;
}
.nt{
    margin-left:570px;  
}
.textar textarea{
    background: #d8dbe1;
    width: 732px;
    height: 94px;
    margin-left:593px;
    margin-top:10px;
}
.subm input{
    height: 46px;
    width: 125px;
    text-align: center;
    border:2px  solid #fff;
    background: none;
    border-radius: 6px;
    color:#fff;
    font-size:18px;
    margin-left: 896px;
    margin-top:28px;
}
.menu li a{
    transition: all 0.1s;
    color:white;
    transform:scale(1);
    display:inline-block;
}
.menu li a:visited{
    color:#fff;
}
.menu li a:hover{
    color:#e3942d;
    transform:scale(1.1);
}
.menu li a:active{
    transform: scale(0.9)
}
.logo a{
    transition: all 0.1s;
    color:white;
    transform:scale(1);
    display:inline-block;
}
.logo a:visited{
    color:#fff;
}
.logo a:hover{
    color:#e3942d;
    transform:scale(1.1);
}
.logo a:active{
    transform: scale(1)
}
.title_container input{
    transition: all 0.1s;
    transform:scale(1);
}
.title_container input:hover{
    color:white;
    background:#6d7682;
    transform:scale(1.1);
}
.title_container input:active{
    transform:scale(1);
}
@keyframes comming{
    from{
        opacity: 0;
        margin-left:-400px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
@keyframes menu{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top:0;
    }
}
.menu li:nth-child(1){
 animation-delay: 0.4s;
}
.menu li:nth-child(2){
 animation-delay: 0.8s;
}
.menu li:nth-child(3){
 animation-delay: 1.2s;
}
.menu li:nth-child(4){
 animation-delay: 1.6s;
}
.menu li:nth-child(5){
 animation-delay: 2s;
}
.menu li:nth-child(6){
 animation-delay: 2.4s;
}
@keyframes title{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.text input{
    transition: all 0.1s;
    transform:scale(1);
}
.text input:hover{
    color:white;
    background:url(../img/strelka.png)12px 8px no-repeat,#6d7682;
    transform:scale(1.1);
    
}
.text input:active{
    transform:scale(1);
}
.keys input:hover{
    background:#9ecdc9;
}
.keys input:active{
    transform:scale(1.1);
}
.subm input:hover{
    color:black;
    background:#d2d6dc;
    border:none;
}
.subm input:active{
 transform:scale(1.1);
}



.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ccc9d0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


